.todo_title{
    justify-content:center;
    align-items:center;
    display: flex;
    border-radius: 10px;
    padding: 0;
    background-color: #8294C4;
    margin-bottom: 10px;
}
.todo_title_text{
    color: #fff;
}
.input_field{
    width: 100%;
    margin-bottom: 15px;
    height: 35px;
    padding-left: 7px;
    border-radius: 5px;
    border: 1px solid #ACB1D6;
}
.btn_container{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid; */
}
.clr_btn{
    border-radius: 5px;
    height: 30px;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #8294C4;
    color: #8294C4;
}
.add_btn{
    border-radius: 5px;
    height: 30px;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ACB1D6;
    border: 1px solid #8294C4;
    color: #fff;
}
.devider{
    height: 1px;
    background-color: #8294C4;
    margin: 15px 0;
}